body {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #1f1f21;
}

/* Header */

.header {
  background: #161617;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-container {
  height: 60px;
  background: #171718;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 95%;
}
.list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  list-style: none;
  padding: 0;
}
.nav-item {
  text-decoration: none;
  list-style-type: none;
  border: 2px solid transparent;
  padding: 5px;
}
.nav-item:hover {
  border-bottom: 2px solid #8aed7b;
  padding: 5px;
  transition: 0.6s;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.burger-menu {
  display: none;
  width: 60px;
}
.burger-menu div {
  width: 82%;
  height: 4px;
  background: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Main */

.main {
  background: #1f1f21;
  margin: 0 auto;
}
.wrapper {
  background: #1f1f21;
  max-width: 1440px;
  margin: 0 auto;
  width: 95%;
}
.section-profile {
  background: #1f1f21;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.section-profile__logo {
  border: 2px solid white;
  border-radius: 5%;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}
.section {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.main-info__title {
  text-transform: uppercase;
  border-bottom: 4px solid #8aed7b;
}
.main-info__list {
  padding-left: 0;
}
.main-info__item {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
}
.main-info__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
.svg-contacts {
  filter: invert(99%) sepia(0%) saturate(208%) hue-rotate(59deg)
    brightness(114%) contrast(100%);
}
.section-project {
  background: #1f1f21;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.main-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-img {
  border: 2px solid white;
  border-radius: 20px;
  max-width: 1000px;
  height: 500px;
}
.container-project {
  display: flex;
  align-items: center;
  gap: 70px;
}
.button-project {
  display: contents;
  background: rgba(0, 0, 0, 0);
  border: none;
  width: 120px;
  height: 120px;
}
.button-svg {
  filter: invert(89%) sepia(55%) saturate(0%) hue-rotate(221deg)
    brightness(102%) contrast(101%);
  cursor: pointer;
}
.button-svg:hover {
  filter: invert(95%) sepia(46%) saturate(995%) hue-rotate(48deg)
    brightness(96%) contrast(96%);
}
span:hover {
  color: #8aed7b;
}

/* Footer */

.footer {
  background: #171718;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 90px;
  background-color: #171718;
}
.footer-logo-githgub {
  background-image: url(./assets/svg/github.svg);
  height: 50px;
  width: 50px;
  cursor: pointer;
  filter: invert(99%) sepia(0%) saturate(235%) hue-rotate(92deg)
    brightness(108%) contrast(100%);
  background-repeat: no-repeat;
}
.footer-logo-rss {
  background-image: url(./assets/svg/rss.svg);
  height: 50px;
  width: 121px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  filter: invert(99%) sepia(0%) saturate(235%) hue-rotate(92deg)
    brightness(108%) contrast(100%);
}
.footer-logo-githgub:hover {
  filter: invert(95%) sepia(46%) saturate(995%) hue-rotate(48deg)
    brightness(96%) contrast(96%);
}
.footer-logo-rss:hover {
  filter: invert(95%) sepia(46%) saturate(995%) hue-rotate(48deg)
    brightness(96%) contrast(96%);
}
.footer-year {
  color: white;
}

/* Media */

@media screen and (max-width: 1400px) {
  .main-img {
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    width: 100%;
  }
  .section-profile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .main-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 855px) {
  body.open {
    overflow: hidden;
  }
  .header-container {
    justify-content: end;
  }
  .nav {
    opacity: 0;
    top: -100vh;
    pointer-events: none;
  }
  .nav.open {
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    font-size: 35px;
    padding-top: 105px;
    width: 80%;
    height: 100vh;
    opacity: 1;
    pointer-events: inherit;
    background: #171718;
    position: absolute;
    z-index: 1;
    transition: 0.8s;
    font-size: 25px;
  }
  .list {
    display: none;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
  }
  .burger-menu.open .line1 {
    transform: scaleY(1) scaleX(0.7);
    transition: 0.3s;
  }
  .burger-menu.open .line3 {
    transform: scaleX(0.5);
    transition: 0.3s;
  }
  .button-svg {
    width: 10%;
  }
}

@media screen and (max-width: 585px) {
  body {
    font-size: 13px;
  }
  .container-project {
    gap: 10px;
  }
  .footer-logo-githgub {
    height: 40%;
  }
  .footer-logo-rss {
    height: 40%;
    width: 30%;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
}
